<mat-checkbox
  [checked]="data.done"
  (change)="handleChange($event)"
  class="todo__message"
>
  <span *ngIf="!isEdited">{{ data.message }}</span>
  <mat-form-field *ngIf="isEdited">
    <mat-label>New message...</mat-label>
    <input matInput type="text" [(ngModel)]="newMessage" (blur)="handleEdit($event.target.value)" #newMessageInput>
  </mat-form-field>
</mat-checkbox>
<div class="todo__controls">
  <button
    mat-icon-button
    class="todo__button todo__button--edit"
    (click)="toggleEdit()"
    color="primary"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    mat-icon-button
    class="todo__button todo__button--remove"
    (click)="handleRemove(data)"
    color="warn"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
