@import '~src/styles/variables';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $todo-padding;
  margin: $todo-margin;
  border-left: 4px solid transparent;

  &:hover {
    border-left-color: $todo-hover-indicator-color;
    cursor: pointer;

    .todo__controls {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.todo__message {
  width: 100%;
  margin: $todo-margin;
}

.todo__controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.todo__button {
  $size: 3.2rem;
  width: $size;
  height: $size;
  line-height: $size;
}
