<h1>To do list</h1>
<app-add-todo (addTodo)="handleAddTodo($event)"></app-add-todo>
<app-todo-list
  [list]="unfinishedNotes$ | async"
  [type]="'To do'"
  (todoUpdated)="handleTodoUpdate($event)"
  (todoRemoved)="handleTodoRemove($event)"
  (sortChange)="handleSortChange($event)"
></app-todo-list>
<app-todo-list
  [list]="finishedNotes$ | async"
  [type]="'Done'"
  (todoUpdated)="handleTodoUpdate($event)"
  (todoRemoved)="handleTodoRemove($event)"
  (sortChange)="handleSortChange($event)"
></app-todo-list>
