@import '~src/styles/variables';

:host {
  display: block;
  width: 100%;

  .todo:not(:last-child) {
    border-bottom: $todo-border-bottom;
  }

  &:not(:last-child) {
    margin-bottom: $todos-list-gap;
  }
}

.mat-card-header {
  align-items: center;
  margin-bottom: 0.5rem;

  .mat-card-title {
    margin-bottom: 0;
  }
}

.todo-list__controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
